@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.header-container{
    height: 100%;
    width: 100%;   
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    position: fixed;
}
h1{
    font-size: 50px;
    display: block;
    margin-block-start: 0.9em;
    margin-block-end: 0.9em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    font-weight: bold;
}
.buttons{
    background-color: rgb(228, 228, 228);
    margin-top: 5rem;
    display: flex;
}
.buttons a {
    font-size: 60px;
    text-decoration: none;
    color: black;
    padding: 5rem 10rem;
    border: 3px solid black;
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
.inicial:hover{
    background-color:rgb(75, 238, 75);
}
.center-align {
    text-align: center;
}
.white {
    background-color: rgba(241, 240, 240, 0.89);
}
/*Segunda página*/
.mb-5{
    margin-bottom: 3rem!important;
}
.col-4 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}
.content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    
}
.cards {
    display: block;
    box-shadow: 0px 2px 23px;
    border-radius: 15px;
    background: rgb(228, 228, 228);
    width: 400px;
}
.secondtext{
    color: rgb(70, 58, 58);
}
.mediacard{
    background: url(../imgs/card.img.png) center/cover;
    width: 100%;
    height: 400px;
}
.topcard{
    padding: 30px;
    padding-top: 0px;
}
.bottomcard{
    padding: 20px;
    padding-top: 0px;
}
h3.title {
    font-size: 30px;
}
.bottomtext {
    color: rgb(70, 58, 58);
    font-size: 17px;
}
.actionsbutton{
    background-color: rgb(37, 37, 37);
    margin-top: 0.5rem;
    display: block;
}
.actionsbutton a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem; 
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
/*Segundo card*/
.mediacard2{
    background: url(../imgs/art_4.png) center/cover;
    width: 100%;
    height: 400px;
}
/*Terceiro card*/
.mediacard3{
    background: url(../imgs/SUS.png) center/cover;
    width: 100%;
    height: 400px;
}
.confirm:hover{
    background-color: green;
}
.backbutton{
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.backmenu:hover{
    background-color: rgb(138, 0, 0);
}
/*Terceira página*/

.about{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;

}
.card-about{
    justify-content: space-evenly;
    display: flex;
    box-shadow: 0px 2px 23px; 
    background: rgb(228, 228, 228);
    width: 1000px;
    border-radius: 10px;
}
.card-img{
    background: url(../imgs/pic.fil.jpg); 
    width: 500px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/pic.fil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-text{
    margin: 1rem 0.5rem;
    font-size: 27px;
}